@font-face {
  	font-family: 'Rubik-regular';
  	src: url('/fonts/rubik-regular.ttf') format('truetype');
}
html, body{
	height: 100%;
	margin: 0em;
}
#screen{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
}
#screen #login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border: solid black 0.125em;
    border-radius: 1em;
    width: 30%;
}
#screen #login-container #password-output{
	font-size: 15px;
	font-family: 'Rubik-regular', serif;
    margin: 0.5em 0;
}
button{
    font-size: 16px;
    border-radius: 6em;
    border-color: black;
    color: black;
    background-color: aqua;
    padding: 0.25em;
    width: 6em;
	margin-top: 1em;
}
button:hover{
	background-color: rgb(130, 255, 255);
}
