.tab-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px; 
    background-color: #f1f1f1; 
    border-bottom: 1px solid #ccc;
    z-index: 1000; 
}

.tab {
    flex: 1; 
    text-align: center;
    padding: 1em; 
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    border-top: solid black 0.1em;
    border-left: solid black 0.06em;
    border-right: solid black 0.06em;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #ccc; 
}
