.tab-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 1em; 
    background-color: #f1f1f1; 
    border-bottom: 1px solid #ccc;
    z-index: 1000; 
    padding-block: 1.1em;
    margin-block: 1em;
}

.tab {
    flex: 1; 
    text-align: center;
    padding: 1em; 
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #ccc; 
}

h1{
    margin: 0%;
    margin-right: 0.25em;
}

img{
    width: 90px;
}

.file-card{
    width: 94px;
    margin: 1em;
}

#file-download-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
